/* src/style.css */

:root {
  --primary-color: linear-gradient(to right, #ff9b71, #ea7e50);
  --secondary-color: #4c8af5;
  --primary-light: #a066c9;
  --soft-black: #1a1f1f;
  --text-color: #fff;
  --font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: var(--font-family);
  color: var(--text-color);
}

.v-btn {
  border-radius: 999px !important;
  background-color: white !important;
  color: #ff7a29 !important;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(255, 122, 41, 0.2);
  gap: 2rem;
}

.v-btn:hover {
  background-color: black !important;
  box-shadow: 0 6px 16px rgba(255, 122, 41, 0.3);
}
